.plusButton {
  padding: 0 32px;
  border: none;
  height: 58px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px; /* Пример значения для --border-radius-small */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease; /* Пример значения для --transition-duration */
  background-color: #007bff; /* Пример значения для --color-blue */
  color: #ffffff; /* Пример значения для --color-light */
  white-space: nowrap;
  z-index: 10;
}

.plusButton:hover {
  background-color: #343a40; /* Пример значения для --color-dark */
  color: #ffffff; /* Пример значения для --color-light */
}

.plusButton:active {
  transform: scale(1.1);
  background-color: #ffffff; /* Пример значения для --color-light */
  color: #343a40; /* Пример значения для --color-dark */
  border: 1px solid #343a40; /* Пример значения для --color-dark */
}

.plusedState {
  background-color: #ffffff; /* Пример значения для --color-light */
  color: #343a40; /* Пример значения для --color-dark */
  border: 1px solid #343a40; /* Пример значения для --color-dark */
}
