.categoriesPage {
  margin-bottom: 106px;
}

.GridCatBox {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 32px;

  margin-top: 30px;
  z-index: 1;
}

.categoriesPageTitle {
  margin-bottom: 40px;
}

.GridCatItem {
  overflow: hidden;
}

.CatItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;
}

.CatImage {
  width: 100%;
  /* height: 350px; */
  object-fit: cover;
  border-radius: var(--border-radius-large);
  transition: transform 0.3s ease-in-out; /* Плавный переход */

}

.CatImage:hover {
  transform: scale(0.95); /* Уменьшение размера до 95% */
}

.CatImage {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}


/* Устройства с шириной экрана от 1440px до 1024px */
@media (max-width: 1440px) and (min-width: 1024px) {
  .GridCatBox {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 24px;
  }

  /* .CatImage {
    height: 300px;
  } */

  .CatImage {
    font-size: 18px;
    line-height: 24px;
  }
}

/* Устройства с шириной экрана от 1024px до 768px */
@media (max-width: 1024px) and (min-width: 768px) {
  .GridCatBox {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
  }

  /* .CatImage {
    height: 250px;
   
  } */

  .CatImage {
    font-size: 16px;
    line-height: 22px;
  }
}

/* Устройства с шириной экрана от 768px до 520px */
@media (max-width: 768px) and (min-width: 520px) {
  .GridCatBox {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 16px;
  }

  /* .CatImage {
    height: 200px;
  } */

  .CatImage {
    font-size: 14px;
    line-height: 20px;
  }
}

/* Устройства с шириной экрана от 520px до 420px */
@media (max-width: 520px) and (min-width: 420px) {
  .GridCatBox {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  /* .CatImage {
    width: 350px;
    height: 200px;
  } */

  .CatImage {
    font-size: 12px;
    line-height: 18px;
  }

  .categoriesPage {
    margin-bottom: 50px;
  }

  .categoriesPageTitle {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
